{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Dosen Untirta</title>
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> 
    <link rel="shortcut icon" type="x-icon" href="\static\images\untirta.png">
    
</head>
<body>
    
    <nav>
        <div class="logo">
            <img src="\static\images\logo2.png" height="50px" title="Untirta">
        </div>
        <ul class="menu">
            <li><a href="/">Beranda</a></li>
            <li><a>Profil</a>
                <ul class="dropdown">
                    <li><a href=" /profil/">Profil perancang</a></li>
                    <li><a href="#">Visi Misi</a></li>
                    <li><a href="#">Struktur Organisasi</a></li>
                    <li><a href="#">Sejarah Untirta</a></li>
                </ul>
            </li>
            <li><a href="/dosen/">Dosen</a></li>
            <li><a href="/mahasiswa/">Mahasiswa</a></li>
            <li><a href="/tendik/">Staff</a></li>
            <li><a href="#">Kemahasiswaan</a>
                <ul class="dropdown">
                    <li><a href="#">Organisasi Mahasiswa</a></li>
                    <li><a href="#">Unit Kegiatan Mahasiswa</a></li>
                        <ul class="cabang">
                            <li><a href="#">Paduan Suara</a></li>
                            <li><a href="#">Jurnalistik</a></li>
                            <li><a href="#">Pandawa</a></li>
                            <li><a href="#">Klasik</a></li>
                        </ul>
                    <li><a href="#">Kreatifitas Mahasiswa</a></li>
                    <li><a href="#">Penalaran dan Kreatifitas Mahasiswa</a></li>
                    <li><a href="#">Beasiswa</a></li>
                </ul>
            </li>
            <li><a href="#">Pendidikan</a>
                <ul class="dropdown">
                    <li><a href="/faperta/">Fakultas Pertanian</a></li>
                    <li><a href="/feb/">FEB</a></li>
                    <li><a href="/fh/">FH</a></li>
                    <li><a href="/fk/">FK</a></li>
                    <li><a href="/fkip/">FKIP</a></li>
                </ul>
            </li>
            <li><a href="#">Kontak</a></li>
        </ul>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Data-data Dosen
                <a href="{% url 'tambah_dosen' %}" class="btn btn-primary">Tambah</a>
            </h1>
            <table class="table table-sm table-light">
                <thead>
                    <tr class="table-secondary">
                        <th>NAMA</th>
                        <th>NIP</th>
                        <th>TEMPAT TANGGAL LAHIR</th>
                        <th>FOTO</th>
                        <th>EMAIL</th>
                        <th>FAKULTAS</th>
                        <th>PRODI</th>
                        <!-- <th>ALAMAT</th> -->
                        <th>KELOMPOK</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for dosen in dosens %}
                        <tr>
                            <td><a href="{% url 'ubah_dosen' dosen.id %}">{{ dosen.nama }}</a></td>
                            <td>{{ dosen.nip }}</td>
                            <td>{{ dosen.ttl }}</td>
                            <td>
                                {% if dosen.foto %}
                                <img src="{{ dosen.foto.url }}" width="100px">
                                {% endif %}
                            </td>
                            <td>{{ dosen.email }}</td>
                            <td>{{ dosen.fakultas }}</td>
                            <td>{{ dosen.prodi }}</td>
                            <!-- <td>{{ dosen.alamat }}</td> -->
                            <td>{{ dosen.kelompok_id }}</td>
                            <td>
                                <button data-toggle="modal" data-target="#hapus-{{ dosen.id }}" class="btn btn-danger">Hapus</button>
                            </td>

                            <div class="modal fade" id="hapus-{{ dosen.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="modal-title">
                                                <h3>Hapus</h3>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            Apakah anda yakin ingin menghapus <strong>{{ dosen.nama | upper }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'hapus_dosen' dosen.id %}" class="btn btn-danger">Hapus</a>
                                            <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
    </div>
</div>


    <script src="{% static 'static/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
</html>


